[run]
branch = True
source = prometheus_async

[paths]
source =
   src/prometheus_async
   .tox/*/lib/python*/site-packages/prometheus_async
   .tox/pypy*/site-packages/prometheus_async

[report]
show_missing = True
